<div class='section'>
  <strong style="font-size: 20px;">Recipes:</strong> <%= @meal_plan.recipes.map{|r| link_to r.name, recipe_path(r.id), class: 'blue-visited' }.join("&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;").html_safe %>
</div>

<div class='section'>
  <h3><u>Shopping List:</u></h3>
  <% @ingredients_by_category.each do |category, ingredients| %>
     <% ingredients.each do |i| %>
       <p class='hanging-indent'>
         <strong><%= i.name %></strong><%= (": " + @shopping_list[i].map{|ri| "#{ri.quantity} (for #{ri.recipe.name})" }.join(" <strong>&</strong> ")).html_safe %>
       </p>
      <% end %>
  <% end %>
</div>
<br/>
<br/>
<br/>
<% if(@staples.any?) %>
  <div class="section staples">
    <div><strong>Staples:</strong> <%= @staples.map(&:name).join(", ") %></div>
  </div>
<% end %>
