<div class='section'>
  <% @meal_plan.recipes.each do |r| %>
    <h2><%= link_to r.name, recipe_path(r.id) %></h2>
  <% end %>
</div>

<div class='section'>
  <h3>Shopping List</h3>
  <% @shopping_list.each do |ingredient, ris| %>
    <strong><%= ingredient.name %></strong><%= ": " + ris.map{|ri| "#{ri.quantity} (for #{ri.recipe.name})" }.join(" & ") %>
    <br/>
  <% end %>
</div>
