<% @recipe.recipe_ingredients.each do |ri| %>
  <%= "#{ri.quantity} #{ri.ingredient.name}" %>
  <br/>
<% end %>

<p>
  <%= @recipe.text %>
</p>

<%= link_to "Add this Recipe to Meal Plan", add_recipe_meal_plans_path(:id => @recipe.id), class: 'btn' %>
